body{
    box-sizing: content-box;
    margin: 0%;
    width: 100%;
    height: 90vh;
    background-image: url(./download2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.firstDiv{
    position: relative;
    margin-top: 5vh;
    padding-top: 0vh;  
    width: 70vw;
    height: 89vh;
    opacity: 0.8;
    background-image: url(./images.jfif);
    background-repeat: no-repeat;
    background-size: cover;

}
.secondDiv{
    opacity: 1;
    position: relative;    
    width: 60vw;
    height: 75vh; 
      
    
}
.bodyHomePage{
    background-image: url(./hqdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.buttons{
   background-image: linear-gradient(rgb(183, 0, 255),rgb(0, 255, 170));
    width: 50vw;
    height: 40vh;
    margin-top: 20vh;
    margin-left: 23vw;
}
#emailIcon{
    position: absolute;
    margin-top: 7px;
    right: 15px;
    font-size: x-large;
}
#passwordIcon{
    position: absolute;
    margin-top: 7px;
    left: 26.5vw;
    font-size:x-large;
}
#passwordcIcon{
    position: absolute;
    margin-top: 7px;

    right: 15px;
    font-size: x-large;
}



@media only screen and (max-width: 575px){
.firstDiv{
    position: relative;
    margin-left:0% ;
    margin-top:0% ;  
    padding-top: 0%;  
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url();
    
}
#passwordIcon{
    position: absolute;
    left: 49vw;
    
    font-size:x-large;
}

body{
  
   height: 150vh; 
}
h3{
    color: white;
}


}

@media only screen and (max-width: 425px){
    body{
  
        height: 147vh; 
     }
}

@media (max-width: 575px){
    .lab{
      display: contents;
      font-size: calc(1.0rem + .2vw)!important;
    }
}
 